@import './variable.styl'

// global
*
  box-sizing border-box
  font-family 'Inter', Helvetica, Arial, sans-serif

body
  font-family 'Inter', Helvetica, Arial, sans-serif
  color $secondary
  background $primary-lighten2
  font-size 14px
  font-weight normal

  #app
    max-width 1440px
    width 90%
    margin 0 auto
    // width 1224px
    @media large
      width 99%

/* hide input number arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button 
  -webkit-appearance none
  margin 0

input[type=number] 
  -moz-appearance textfield

button:hover 
  opacity .8

input[disabled]
  background $secondary-lighten4

.uppercase
  text-transform uppercase

.lowercase
  text-transform lowercase

.label-secondary
  color $secondary
  margin-bottom 10px

.label-secondary-lighten
  color $secondary-lighten2

.label-accent
  color $accent
  font-size 16px

.flex
  display flex
  flex-direction row
  flex-wrap wrap

// mixin
title()
  font-size 35px
  color $primary
  position relative
  z-index 1
  margin-top 1rem
  font-weight 600

subtitle()
  font-size 25px
  color $primary
  margin 1.3rem 0
  font-weight 600

// input, textarea
.form-group
  position relative
  margin-bottom 10px
  .note
    color $secondary-lighten2
    .error
      color $primary

  &.form-group--textarea
    text-align right

  field-focus()
    outline none
    border-color $secondary-lighten3

  input
    font-size 15px
    font-weight 600
    color #2D2A40
    height 55px
    transition all 0.28s ease
    width 100%
    padding 20px 10px 5px
    border 1px solid $secondary-lighten3
    border-radius 0
    &:focus
      field-focus()
    
  textarea
    @extend input
    min-height 130px
    resize none
    padding-top 30px
    overflow hidden
    font-size 15px
    &:focus
      field-focus()

  label.control-label 
    position absolute
    left 10px
    top 47%
    transform translateY(-50%)
    color $secondary-lighten3
    transition all 0.28s ease
    cursor text

  .icon 
    position absolute
    right 13px
    top 20px

  &.form-group--textarea .icon
    top 13px

  textarea ~ .control-label
    top 28px
  
  $validColor = $accent
  $invalidColor = $primary

  &.form-group--invalid input,
  &.form-group--invalid textarea
    border-color $invalidColor

  label-up()
    top 17px
    font-size 12px

  &.form-group--invalid .control-label
    color $invalidColor
    label-up()

  &.form-group--invalid .note
    color $invalidColor

  &.form-group--valid input,
  &.form-group--valid textarea
    border-color $validColor

  &.form-group--valid .control-label
    color $validColor
    label-up() 

  input:focus ~ .control-label,
  input:valid ~ .control-label,
  textarea:focus ~ .control-label,
  textarea:valid ~ .control-label
    label-up()

// custom checkbox
.checkbox 
  display block
  position relative
  padding-left 25px
  cursor pointer
  -webkit-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none
  &:hover
    opacity .8
  input 
    position absolute
    opacity 0
    cursor pointer
    height 0
    width 0
  .checkmark 
    position absolute
    top 0
    left 0
    height 20px
    width 20px
    border 2px solid $accent
    &:after 
      content ""
      position absolute
      display none
      left 5px
      top 0px
      width 5px
      height 10px
      border solid #1bd97b
      border-width 0 2px 2px 0
      -webkit-transform rotate(45deg)
      -ms-transform rotate(45deg)
      transform rotate(45deg)
  input:checked ~ .checkmark:after 
    display block

// custom radio box
.radio-box
  display inline-block
  min-width 175px
  padding 12px 15px
  position relative
  margin-bottom 10px
  &:not(:last-child)
    margin-right 10px  
  input
    display none
  .box
    display inline-block
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    cursor pointer
    border 1px solid $secondary-lighten3
    transition all .3s ease
    z-index 1
    min-height 40px
  img
    opacity 0
    transition all 0.3s ease
    position absolute
    right 18px
    top 50%
    transform translateY(-50%)
  .radio__title
    margin-bottom 3px
  .radio__subtitle
    font-weight 600
    font-size 16px
    color $secondary-lighten2
  input[type="radio"]:checked ~ img 
    opacity 1
  input[type="radio"]:checked ~ .box
    border-color $accent
  input[type="radio"]:checked ~ .radio__subtitle
    color $secondary