@import './variable.styl'

// global
*
  box-sizing border-box
  font-family 'Inter', Helvetica, Arial, sans-serif

body
  font-family 'Inter', Helvetica, Arial, sans-serif
  color $secondary
  background $primary-lighten2
  font-size 14px
  font-weight normal

  #app
    // max-width 1440px
    width 85%
    margin 0 auto
    width 1124px

/* hide input number arrows */
// Chrome, Safari, Edge, Opera
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// Firefox
input[type=number] {
  -moz-appearance: textfield;
}

button:hover {
  opacity .8
}

input[disabled]
  background $secondary-lighten4

//** form **//
// input field


// button



// mixin
input()
  display inline-block
  width 100%
  padding 20px
  border 1px solid $secondary-lighten3
  border-radius 0
  margin-bottom 15px

textarea()
  input()

.flex
  display flex
  flex-direction row
  flex-wrap wrap

title()
  font-size 35px
  color $primary
  position relative
  z-index 1
  margin-top 1rem
  font-weight 600

subtitle()
  font-size 25px
  color $primary
  margin 1.3rem 0
  font-weight 600

.form-group
  position: relative;
  margin-bottom: 10px;
  .note
    color $secondary-lighten2
    .error
      color $primary

.form-group.form-group--textarea
  text-align right


.form-group input,
.form-group textarea {
  font-size: 15px;
  font-weight: 600;
  color: #2D2A40;
  height: 55px;
  transition: all 0.28s ease;
  width: 100%;
  padding: 20px 10px 5px;
  border: 1px solid #ccc;
  border-radius: 0;
}

.form-group textarea
  min-height 130px
  resize none
  padding-top: 30px
  overflow hidden
  font-size 15px

label.control-label {
    position: absolute;
    left: 10px;
    top: 47%;
    transform: translateY(-50%);
    color: #ccc;
    transition: all 0.28s ease;
    cursor text
}

.form-group .icon {
    position: absolute;
    right: 13px;
    top: 20px;
    // display none
}

.form-group.form-group--textarea .icon
  top 13px

.form-group textarea ~ .control-label
  top 28px

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    border-color: #cccccc;
}

.form-group.form-group--invalid input,
.form-group.form-group--invalid textarea {
    border-color: $primary;
}

.form-group.form-group--invalid .note
  color $primary

.form-group.form-group--valid input,
.form-group.form-group--valid textarea {
    border-color: $accent;
}
// .form-group input:focus ~ .icon
//   visibility visible

.form-group input:focus ~ .control-label,
.form-group input:valid ~ .control-label,
.form-group textarea:focus ~ .control-label,
.form-group textarea:valid ~ .control-label
    color $primary
    top 17px
    font-size 12px

// custom checkbox
.checkbox {
  display: block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox:hover
  opacity .8

/* Hide the browser's default checkbox */
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border 2px solid $accent
}

/* On mouse-over, add a grey background color */
// .checkbox:hover input ~ .checkmark {
//   background-color: #ccc;
// }

/* When the checkbox is checked, add a blue background */
// .checkbox input:checked ~ .checkmark {
//   background-color: #2196F3;
// }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
  left: 5px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid #1bd97b;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}