// variable colors
// orange
$primary = #FF8A00
$primary-lighten1 = #FFE4B8
$primary-lighten2 = #FFFAE6

//black
$secondary = #000000
$secondary-dark-blue = #2D2A40
$secondary-lighten1 = #666666
$secondary-lighten2 = #817F8C
$secondary-lighten3 = #CCCCCC
$secondary-lighten4 = #EEEEEE

//green
$accent = #1BD97B
$accent-lighten1 = #E8FBF2